body {
    background-color: rgb(22, 22, 22);
  }
  
header {    
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: rgb(173, 1, 107);
    width: 100%;
    margin: 0px;
}

.nav-item {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
}

footer {
    background-color: rgb(173, 1, 107);
    color: black;
    padding-left: 40px;
}

main {
    padding: 10px;
    color: rgb(255, 255, 255);
}

h1 {
    padding: 50px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    transition: 2s;
}

a:hover {
    color: purple;
}

h6 {
    font-weight: bold;
    padding-top: 20px;
}

#etusivunkuva1 {
    float: right;
    padding: 20px;
}

.textlink {
    color: rgb(173, 1, 107);
}

.box {
    height: 400px;
    width: auto;
    text-align: center;
    padding-top: 10px; 
    background-color: rgba(173, 1, 107, 0.541);
    position: relative;
  }

.box-container {
    margin: 50px;
   
  }
.box-column {
    margin-bottom: 100px; 
  }

.gearnsocial {
    background-image: url('../Images/tullikamari.jpg');
    background-size: cover;
    background-position: center;
}