#kokeilu {
    box-shadow: 5px 5px 5px 5px;
    width: fit-content;
}

h2 {
    color: blueviolet;
    text-shadow: 2px 2px #080808;
}

.laatikko {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    height: 100px;
    background-image: url(IMG_20210603_163259.jpg);
    background-size: cover;
}

a {
    color: red;
    transition: 2s;
}

a:hover {
    color: black;
}

@media (max-width: 800px) {
    body {
        background-color: black;
        color: white;
    }
}