body {
    background-color: lightblue;
    color: white;
}

h1 {
    font-size: 20px;
    border-bottom: 2px solid #f0f;
 
}

p {
    
    font-size: 12px;
    color: lightgray;
}

.boxes {
    width: 100px;
    height: 100px;
    border: 2px;
    border-style: dotted;
    border-width: 10px;
    border-color: aquamarine;
}